

ul,li {
    color: black;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: black;
  }
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header-area {
    background: linear-gradient(rgba(255, 254, 254, 0.782), rgba(250, 250, 250, 0.999)),
    url();
    background-position: center center;
    background-size: cover;
  }
  /* default css end */
  
  
  /* navbar regular css start */
  .navbar-area {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(239, 235, 235);
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color:black;
    text-decoration: none;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: black;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgb(189, 229, 245);
  }
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
    border: 3px solid black ;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: black;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  /* intro-area css start */
  .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .intro-area p {
    font-size: 18px;
  }
  /* intro-area css end */
  
  
  /* mobile breakpoint start */
  @media screen and (max-width: 767px) {
    .container {
      max-width: 720px;
    }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid rgb(255, 253, 253);
      background-color: rgb(255, 255, 255);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgb(255, 255, 255);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }  
    /* navbar css for mobile end */
  }
  /* mobile breakpoint end */

  table { 
    width: 750px; 
    border-collapse: collapse; 
    margin:50px auto;
    }
  
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
    }
  
  th { 
    background: #3498db; 
    color: rgb(6, 6, 6); 
    font-weight: bold; 
    }
  
  td, th { 
    padding: 10px; 
    border: 1px solid #ccc; 
    text-align: left; 
    font-size: 18px;
    }
  
  /* 
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  
    table { 
        width: 100%; 
    }
  
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
      color: black;
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
  
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
      /* Label the data */
      content: attr(data-column);
  
      color: #000;
      font-weight: bold;
    }
  
  }